#wrapper {
  width: 1200px;
  margin: 50px auto;
  border: 1px solid black;
}
#menu {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #484848;
}
#menu a {
  margin: 0 5px;
  padding: 15px 25px;
  font: bold 14px Arial;
  text-decoration: none;
  color: #fff;
}

#menu a:hover, #menu a.active {
  color: #484848;
  background-color: #fff;
}
#content {
  padding: 0 30px 20px;
}
#content h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
#content p {
  padding: 0 10px;
  margin-bottom: 5px;
  font: 18px/1.3 arial;
  text-align: justify;
}
